.profile--container {
  background-color: rgb(72, 70, 70);
}

.dashboard--container {
  background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/Vfv9BDZagiltwcyiq/speaker-grill-loopable-animation_hvpaqweu__F0000.png');
  background-size: cover;
  border: 5px solid rgb(28, 33, 29);
}
